.empty-state {
  @apply flex flex-col #{!important};
}
.filled-state {
  @apply hidden #{!important};
}

.cover-photo {
  @apply bg-cover z-0 rounded-lg bg-center w-full h-full absolute top-0 left-0 bg-no-repeat;
}

.left-bar {
  @apply h-screen #{!important};
}

.list-scroller {
  @apply overflow-auto flex-1 #{!important};
}

.love-button {
  @apply bg-transparent z-20 #{!important};
  svg {
    @apply transition-opacity;
    opacity: 0;
  }
  &:hover {
    svg {
      opacity: 1;
    }
  }
  &.loved {
    svg {
      opacity: 1;
    }
  }
}
