.clients-cards {
  max-height: calc(100vh - 12rem);
  :global(.client-card-a:nth-child(3n + 1)) {
    order: 1;
  }
  :global(.client-card-a:nth-child(3n + 2)) {
    order: 2;
  }
  :global(.client-card-a:nth-child(3n)) {
    order: 3;
  }

  /* Force new columns */
  &::before,
  &::after {
    content: '';
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
}
