@import 'https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro';
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/SF-Pro-Display-Regular.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 500 600;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Medium';
  src: url('/fonts/SF-Pro-Display-Medium.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 700;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url('/fonts/SF-Pro-Display-Bold.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 200;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Ultra Light Italic';
  src: url('/fonts/SF-Pro-Display-UltraLightItalic.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 300;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Light Italic';
  src: url('/fonts/SF-Pro-Display-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 100;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Thin Italic';
  src: url('/fonts/SF-Pro-Display-ThinItalic.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 600;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Semibold Italic';
  src: url('/fonts/SF-Pro-Display-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 700 800;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Heavy';
  src: url('/fonts/SF-Pro-Display-HeavyItalic.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro';
  font-weight: 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Black Italic';
  src: url('/fonts/SF-Pro-Display-BlackItalic.woff') format('woff');
}

.property-map-pin {
  background-color: #4f46e5;
  color: #fff;
  font-weight: 700;
  border-radius: 0.4rem;
  padding: 0.11rem 0.5rem;
}

.w--open + nav.rexified {
  display: block !important;
}

.react-calendar__navigation {
  @apply w-full flex items-center justify-between;
}
