.wrapper {
  @apply w-screen h-screen flex flex-col items-center justify-center;
}
.loader {
  @apply w-16 h-16 left-4 rounded-full inline-block;
  border-top: 3px solid #000;
  border-right: 3px solid transparent;
  animation: rotation 1s linear infinite;
  &.small {
    @apply w-4 h-4 left-3 border-t-2 border-r-2;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
