.main-swiper {
  .swiper-slide {
    opacity: 0;
    transition: all 0.4s;
    scale: 0.98;
  }
  .swiper-slide-active {
    opacity: 1;
    scale: 1;
  }
}

.thumbs-swiper {
  .swiper-slide {
    opacity: 0.7;
    transition: all 0.2s;
    scale: 0.95;
  }
  .swiper-slide-thumb-active {
    opacity: 1;
    scale: 1;
  }
}
