.button {
  @apply w-full;

  &.loading {
    @apply bg-slate-300 text-slate-500;

    img {
      @apply opacity-60;
    }
  }
}

.hide {
  @apply hidden #{!important};
}

.zoom {
  animation: zoom-out 60s ease-in;
}

.zoom-back-in {
  animation: zoom-in 1s ease;
}

@keyframes zoom-in {
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }

  0% {
    transform: scale(0.25, 0.25);
    opacity: 0;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  100% {
    transform: scale(0.7, 0.7);
    opacity: 0;
  }
}
